// jade syntax: tagname.class.class2= variableName.variablepropertyName

extends layout

// include (require) file with mixin definitions
include _includes/sharedHTMLfunctions 
  
block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
          small &nbsp;#{pageHeader.strapline}
  
  // listings 
  .row
    .col-xs-12.col-sm-8
      .error= message
      .row
        each location in locations 
          .col-xs-12
            .panel.panel-default
              img.panel-image(src='https://s3-media4.fl.yelpcdn.com/bphoto/K0Mb7ebSa4DRUpEmfDZVuw/90s.jpg')
              h4
                a(href='/location/#{location._id}')= location.name
                small &nbsp;
                  +outputRating(location.rating)
                span.badge.pull-right.badge-default= location.distance
        
              p.address= location.address
              p
                each facility in location.facilities
                  span.label.label-warning= facility
                  &nbsp;
            
    // sidebar           
    .col-xs-12.col-sm-4
      p.lead= sidebar 
